:root {
  font-size: 62.5%;
  --bg-color: #209bab;
  --success-bg-color: green;
  --warning-bg-color: yellow;
  --alert-color: pink;
}
.alert {
  width: 30rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  align-items: center;
  margin: 0.5rem;

  background-color: var(--bg-color);
}
.alert img {
  width: 2.5rem;
  padding: 5px;
  color: var(--alert-color);
}
.alert-msg {
  font-size: 2rem;
}
.success-info {
  background-color: var(--success-bg-color);
}
.warning-info {
  background-color: var(--warning-bg-color);
}
