:root {
  font-size: 62.5%;
}
/* img {
    width: 50rem;
    height: 35rem;
    object-fit: cover;
  } */
.carousel {
  position: relative;
  height: 35rem;
  width: 91.3rem;
}
.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}
.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.carousel-button {
  width: 2rem;
  height: 1.5rem;
}
.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}
.carousel__button--left {
  left: -4rem;
}
.carousel__button--right {
  left: 91.7rem;
}
.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 1rem;
  cursor: pointer;
}
.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}
.is-hidden {
  display: none;
}
