:root {
  font-size: 62.5%;
}
.responsive-image {
  width: 45rem;
  height: 25rem;
}
.responsive-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.round-image {
  margin: 1rem;
  width: 20rem;
  height: 20rem;
}
.round-image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 450px) {
  .responsive-image {
    width: 95vw;
    height: 40vh;
  }
}
@media only screen and (min-width: 450px) and (max-width: 850px) {
  .responsive-image {
    width: 60vw;
    height: 40vh;
  }
}
@media only screen and (max-width: 450px) {
  .round-image {
    width: 5rem;
    height: 5rem;
  }
}
@media only screen and (min-width: 450px) and (max-width: 850px) {
  .round-image {
    width: 10rem;
    height: 10rem;
  }
}
